<% provide(:title, 'イベント編集') %>
<% provide(:datepicker_form, true) %>
<% breadcrumb :edit_event, @event %>
<div class="container">

  <div class="bs-docs-section">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="page-header">
          <h1>イベント編集</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="bs-docs-section">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="well bs-component">
          <%= form_for @event, :html => { :class => 'form-horizontal', :role => 'form' } do |f| %>
            <% if @event.errors.any? %>
              <div class="alert alert-dismissable alert-danger">
                <strong>Error!</strong>
                <ul>
                  <% @event.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
            <% end%>
            <fieldset>
              <legend>イベント基本情報</legend>
              <div class="form-group">
                <div class="col-lg-2 control-label" data-toggle='popover' data-placement:'right', title=' イベント名' data-content='登録するイベント名を最大xx文字で入力してください。'>
                  <%= f.label :name, 'イベント名'%>
                  <i class="glyphicon glyphicon-question-sign"></i>
                </div>
                <div class="col-lg-9">
                  <%= f.text_field :name, class: 'form-control', placeholder: 'イベント名を入力して下さい' %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :memo, '概要', class: 'col-lg-2 control-label' %>
                <div class="col-lg-10">
                  <%= f.text_area :memo, class: 'form-control', placeholder: 'このイベントに関するメモを自由に入力して下さい' %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :date, '開催日', class: 'col-lg-2 control-label' %>
                <div class="col-lg-10">
                  <%= f.text_field :date, value: @event.formatted_date, class: 'form-control', type: 'text', placeholder: 'このイベントの開催日を入力して下さい', readonly: true %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :participants, '参加者', class: 'col-lg-2 control-label' %>
                <div class="col-lg-10">
                  <% if @event.users.empty? %>
                    イベント参加中のユーザは存在しません
                  <% else %>
                    <ul>
                      <% @event.users.each do |u| %>
                        <li><%= u.name %></li>
                      <% end %>
                    </ul>
                  <% end %>
                </div>
                <div class="col-lg-10 col-lg-offset-2">
                  <% if @not_participate_users.empty? %>
                    イベント未参加のユーザは存在しません
                  <% else %>
                    <select class="form-control" id="event_participant_ids" multiple="multiple" name="event[participant_ids][]">
                      <option value="">追加する参加者を選択</option>
                      <% @not_participate_users.each do |u| %>
                        <option value="<%= u.id %>"><%= u.name %></option>
                      <% end %>
                    </select>
                  <% end %>
                </div>
              </div>
              <div class="form-group">
                <div class="form-group">
                  <div class="col-lg-10 col-lg-offset-2">
                    <%= f.submit '確定', class: 'btn btn-primary btn-lg' %>
                    <%= link_to '戻る', event_path(@event), class: 'btn btn-default btn-lg' %>
                  </div>
                </div>
              </div>
            </fieldset>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
