<% provide(:title, 'イベント一覧') %>
<% breadcrumb :events, @events %>
<div class="container">
  <div class="bs-docs-section">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="page-header">
          <h1>イベント一覧</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="bs-docs-section">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="well bs-component">
          <%= link_to 'イベントを作るよ', {controller: :events, action: :new}, class: :"btn btn-primary btn-lg" %>
          <%= link_to '戻る', :root, class: :"btn btn-default btn-lg" %>
        </div>
      </div>
    </div>
  </div>

  <div class="bs-docs-section">
    <%= paginate @events %>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="well bs-component">
          <table class="table table-hover">
            <tr>
              <th>イベント名</th>
              <th>参加者</th>
              <th>開催日</th>
            </tr>
            <% @events.each do |event|%>
            <tr>
              <td><%= link_to event.name, event, class: :"btn btn-link"%></td>
              <td>
                <% if event.users.blank? %>
                  (無し)
                <% else %>
                  <%= event.users.count %>名
                <% end %>
              </td>
              <td><%= event.formatted_date.blank? ? '(未入力)' : event.formatted_date %></td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
    <%= paginate @events %>
  </div>
</div>
