<% provide(:title, '支払登録') %>
<% provide(:item_form, true) %>
<% breadcrumb :new_item, @event %>
<div class="container">

  <div class="bs-docs-section">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="page-header">
          <h1>支払登録</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="bs-docs-section">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="well bs-component">
          <%= form_for [@event, @item], :html => { :class => 'form-horizontal', :role => 'form' } do |f| %>
            <fieldset>
              <% if @event.users.empty? %>
                <div class="form-group">
                  <div class="col-lg-10 col-lg-offset-2">
                    支払情報を登録する前に参加者を登録してください
                  </div>
                </div>
              <% else %>
                <div class="form-group">
                  <label class="col-lg-2 control-label" for="payment_source_user_ids">支払元</label>
                  <div class="col-lg-10">
                    <select class="form-control" id="source_user_ids" multiple="multiple" name="payment[source_user_ids][]">
                      <% @event.participants.each do |p| %>
                        <option value="<%= p.id %>"><%= p.user.name %></option>
                      <% end %>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 control-label" for="dest_user">支払先</label>
                  <div class="col-lg-10">
                    <select class="form-control" id="dest_user_id" name="payment[dest_user_id]">
                      <% @event.users.each do |u| %>
                        <option value="<%= u.id %>"><%= u.name %></option>
                      <% end %>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 control-label" for="item_memo">品目</label>
                  <div class="col-lg-10">
                    <input class="form-control" type="text" id="item_memo" name="item[memo]" placeholder="支払いしたものの品目名を入力して下さい">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 control-label" for="item_price">金額</label>
                  <div class="col-lg-10">
                    <input class="form-control" type="text" id="item_price" name="item[price]" placeholder="支払った金額を入力して下さい">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-10 col-lg-offset-2 text-right">
                    <span id="total"></span>
                  </div>
                </div>
                <% @event.participants.each do |p| %>
                  <div class="form-group" id="individually-<%= p.id %>">
                    <label class="col-lg-2 col-lg-offset-2 control-label" for="payment_price_<%= p.id %>"><%= p.user.name %></label>
                    <div class="col-lg-8">
                      <input class="form-control" type="text" id="payment_price_<%= p.id %>" name="payment_price[<%= p.id %>]" placeholder="<%= p.user.name %>が支払う金額を入力して下さい">
                    </div>
                  </div>
                <% end %>
              <% end %>
              <div class="form-group">
                <div class="form-group">
                  <div class="col-lg-10 col-lg-offset-2">
                    <%= f.submit '確定', class: 'btn btn-primary btn-lg' %>
                    <%= link_to '戻る', event_path(@event), class: 'btn btn-default btn-lg' %>
                  </div>
                </div>
              </div>
              <input type="hidden" id="event_id" name="event_id" value="<%= @event.id %>">
            </fieldset>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
